NODE_ENV=
PORT=
MONGO_URI=
SEPOLIA_RPC_URL=
SEPOLIA_PRIVATE_KEY=
SEPOLIA_DID_CONTRACT_ADDRESS=
SEPOLIA_CREDENTIAL_CONTRACT_ADDRESS=
JWT_SECRET=
JWT_EXPIRES_IN=
PINATA_API_KEY=
PINATA_API_SECRET=
PINATA_JWT=
PINATA_GATEWAY_URL=